BasedOnStyle: Google
---
Language: Cpp
AlignArrayOfStructures: Right
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: "^<[[:alnum:]_]+.h>"
    Priority: 2
  - Regex: "^<[[:alnum:]_]+>"
    Priority: 3
  - Regex: "^<.*"
    Priority: 4
IncludeIsMainRegex: "([-_.](test|unittest|pass|fail))?$"
IncludeIsMainSourceRegex: ""
InsertBraces: true
IndentRequiresClause: true
IndentPPDirectives: AfterHash
NamespaceIndentation: Inner
PackConstructorInitializers: NextLine
RequiresClausePosition: OwnLine
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder:
  ["inline", "static", "constexpr", "type", "restrict", "const", "volatile"]
ReferenceAlignment: Pointer
ReflowComments: false
ShortNamespaceLines: 0
---

