---
Checks: "clang-diagnostic-*,clang-analyzer-*,*, -abseil*, -altera*, -cert-dcl21-cpp, -fuchsia*, -llvmlib*, -llvm-include-order, -llvm-qualified-auto, -zircon*, -google-readability-todo, -modernize-use-trailing-return-type, -readability-implicit-bool-conversion, -readability-qualified-auto"
WarningsAsErrors: ""
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: none
User: feignclaims
