BasedOnStyle: Google
---
Language: Cpp
# AlignArrayOfStructures: Right  # 误诊断太多
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: Align
BreakBeforeBinaryOperators: All
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: "^<[[:alnum:]_]+.h>"
    Priority: 2
  - Regex: "^<[[:alnum:]_]+>"
    Priority: 3
  - Regex: "^<.*"
    Priority: 4
IncludeIsMainRegex: "([-_.](test|unittest|pass|fail))?$"
IncludeIsMainSourceRegex: ""
InsertBraces: true
IndentRequiresClause: true
IndentPPDirectives: AfterHash
NamespaceIndentation: Inner
PackConstructorInitializers: NextLine
RequiresClausePosition: OwnLine
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder:
  ["inline", "static", "constexpr", "type", "restrict", "const", "volatile"]
ReferenceAlignment: Pointer
ReflowComments: false
# RemoveSemicolon: true                   # TODO: LLVM 16
# RequiresExpressionIndentation: Keyword  # TODO: LLVM 16
ShortNamespaceLines: 0
---

