Diagnostics:
  ClangTidy:
    Add: ["*"]
    Remove:
      [
        abseil*,
        altera*,
        fuchsia*,
        llvmlib*,
        llvm-include-order,
        llvm-qualified-auto,
        zircon*,
        google-readability-todo,
        misc-unused-alias-decls,
        modernize-use-trailing-return-type,
        readability-braces-around-statements,
        readability-implicit-bool-conversion,
        readability-qualified-auto,
        hicpp-braces-around-statements,
      ]
    CheckOptions:
      readability-identifier-length.IgnoredVariableNames: ch|_
      readability-identifier-length.IgnoredParameterNames: ^[n]$|ch|_
  UnusedIncludes: Strict
Index:
  Background: Build
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
