Diagnostics:
  ClangTidy:
    Add: ["*"]
    Remove:
      [
        abseil*,
        altera*,
        cert-dcl21-cpp,
        fuchsia*,
        llvmlib*,
        llvm-include-order,
        llvm-qualified-auto,
        zircon*,
        google-readability-todo,
        modernize-use-trailing-return-type,
        readability-implicit-bool-conversion,
        readability-qualified-auto,
      ]
    CheckOptions:
      readability-identifier-length.IgnoredVariableNames: ^[n]$|ch|_|id|to|t|u
      readability-identifier-length.IgnoredParameterNames: ^[n]$|ch|_|id|to|t|u
  UnusedIncludes: Strict
Index:
  Background: Build
  StandardLibrary: Yes
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
