jieba==0.42.1
myst-parser==4.0.0
pydata-sphinx-theme==0.16.1
sphinx-copybutton==0.5.2
sphinx-examples==0.0.5
sphinx-last-updated-by-git==0.3.8
sphinx-sitemap==2.6.0
sphinx-tabs==3.4.7
sphinx==8.1.3
sphinx_book_theme==1.1.3
sphinx_design==0.6.1
sphinx_togglebutton==0.3.2
sphinxext-opengraph==0.9.1