myst-parser>=2.0.0
sphinx-copybutton>=0.5.2
sphinx-examples>=0.0.5
sphinx-last-updated-by-git>=0.3.6
sphinx-sitemap>=2.5.1
sphinx-tabs>=3.4.5
sphinx_book_theme>=1.1.0
sphinx_design>=0.0.5
sphinx_togglebutton>=0.3.2
sphinxext-opengraph>=0.9.1