span.menuselection {
  background-color: var(--pst-color-info-bg);
  border: 1px solid var(--pst-color-info);
  border-radius: 4px;
  color: var(--pst-color-info);
  font-size: 80%;
  font-weight: 700;
  margin: auto 2px;
  padding: 2.4px 6px;
  position: relative;
}
span.menuselection:before {
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

html {
  --pst-font-size-h1: 1.75rem;
  --pst-font-size-h2: 1.5rem;
  --pst-font-size-h3: 1.3rem;
  --pst-font-size-h4: 1.2rem;
  --pst-font-size-h5: 1.1rem;
  --pst-font-size-h6: 1.05rem;
}

.toctree-wrapper li[class^="toctree-l"] > a {
  font-size: 1em;
}

.bd-article-container h3,
.bd-article-container h4,
.bd-article-container h5,
.bd-article-container h6 {
  font-weight: 500;
}

html[data-theme="light"] .highlight pre {
  line-height: 125%;
}
html[data-theme="light"] .highlight td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
html[data-theme="light"] .highlight span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
html[data-theme="light"] .highlight td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
html[data-theme="light"] .highlight span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
html[data-theme="light"] .highlight .hll {
  background-color: #ffffcc;
}
html[data-theme="light"] .highlight {
  background: #f8f8f8;
}
html[data-theme="light"] .highlight .c {
  color: #3d7b7b;
  font-style: italic;
} /* Comment */
html[data-theme="light"] .highlight .err {
  border: 1px solid #ff0000;
} /* Error */
html[data-theme="light"] .highlight .k {
  color: #008000;
  font-weight: bold;
} /* Keyword */
html[data-theme="light"] .highlight .o {
  color: #666666;
} /* Operator */
html[data-theme="light"] .highlight .ch {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Multiline */
html[data-theme="light"] .highlight .cp {
  color: #9c6500;
} /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Single */
html[data-theme="light"] .highlight .cs {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Special */
html[data-theme="light"] .highlight .gd {
  color: #a00000;
} /* Generic.Deleted */
html[data-theme="light"] .highlight .ge {
  font-style: italic;
} /* Generic.Emph */
html[data-theme="light"] .highlight .ges {
  font-weight: bold;
  font-style: italic;
} /* Generic.EmphStrong */
html[data-theme="light"] .highlight .gr {
  color: #e40000;
} /* Generic.Error */
html[data-theme="light"] .highlight .gh {
  color: #000080;
  font-weight: bold;
} /* Generic.Heading */
html[data-theme="light"] .highlight .gi {
  color: #008400;
} /* Generic.Inserted */
html[data-theme="light"] .highlight .go {
  color: #717171;
} /* Generic.Output */
html[data-theme="light"] .highlight .gp {
  color: #000080;
  font-weight: bold;
} /* Generic.Prompt */
html[data-theme="light"] .highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
html[data-theme="light"] .highlight .gu {
  color: #800080;
  font-weight: bold;
} /* Generic.Subheading */
html[data-theme="light"] .highlight .gt {
  color: #0044dd;
} /* Generic.Traceback */
html[data-theme="light"] .highlight .kc {
  color: #008000;
  font-weight: bold;
} /* Keyword.Constant */
html[data-theme="light"] .highlight .kd {
  color: #008000;
  font-weight: bold;
} /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn {
  color: #008000;
  font-weight: bold;
} /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp {
  color: #008000;
} /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr {
  color: #008000;
  font-weight: bold;
} /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt {
  color: #b00040;
} /* Keyword.Type */
html[data-theme="light"] .highlight .m {
  color: #666666;
} /* Literal.Number */
html[data-theme="light"] .highlight .s {
  color: #ba2121;
} /* Literal.String */
html[data-theme="light"] .highlight .na {
  color: #687822;
} /* Name.Attribute */
html[data-theme="light"] .highlight .nb {
  color: #008000;
} /* Name.Builtin */
html[data-theme="light"] .highlight .nc {
  color: #0000ff;
  font-weight: bold;
} /* Name.Class */
html[data-theme="light"] .highlight .no {
  color: #880000;
} /* Name.Constant */
html[data-theme="light"] .highlight .nd {
  color: #aa22ff;
} /* Name.Decorator */
html[data-theme="light"] .highlight .ni {
  color: #717171;
  font-weight: bold;
} /* Name.Entity */
html[data-theme="light"] .highlight .ne {
  color: #cb3f38;
  font-weight: bold;
} /* Name.Exception */
html[data-theme="light"] .highlight .nf {
  color: #0000ff;
} /* Name.Function */
html[data-theme="light"] .highlight .nl {
  color: #767600;
} /* Name.Label */
html[data-theme="light"] .highlight .nn {
  color: #0000ff;
  font-weight: bold;
} /* Name.Namespace */
html[data-theme="light"] .highlight .nt {
  color: #008000;
  font-weight: bold;
} /* Name.Tag */
html[data-theme="light"] .highlight .nv {
  color: #19177c;
} /* Name.Variable */
html[data-theme="light"] .highlight .ow {
  color: #aa22ff;
  font-weight: bold;
} /* Operator.Word */
html[data-theme="light"] .highlight .w {
  color: #bbbbbb;
} /* Text.Whitespace */
html[data-theme="light"] .highlight .mb {
  color: #666666;
} /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf {
  color: #666666;
} /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh {
  color: #666666;
} /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi {
  color: #666666;
} /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo {
  color: #666666;
} /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa {
  color: #ba2121;
} /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb {
  color: #ba2121;
} /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc {
  color: #ba2121;
} /* Literal.String.Char */
html[data-theme="light"] .highlight .dl {
  color: #ba2121;
} /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd {
  color: #ba2121;
  font-style: italic;
} /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 {
  color: #ba2121;
} /* Literal.String.Double */
html[data-theme="light"] .highlight .se {
  color: #aa5d1f;
  font-weight: bold;
} /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh {
  color: #ba2121;
} /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si {
  color: #a45a77;
  font-weight: bold;
} /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx {
  color: #008000;
} /* Literal.String.Other */
html[data-theme="light"] .highlight .sr {
  color: #a45a77;
} /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 {
  color: #ba2121;
} /* Literal.String.Single */
html[data-theme="light"] .highlight .ss {
  color: #19177c;
} /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp {
  color: #008000;
} /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm {
  color: #0000ff;
} /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc {
  color: #19177c;
} /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg {
  color: #19177c;
} /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi {
  color: #19177c;
} /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm {
  color: #19177c;
} /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il {
  color: #666666;
} /* Literal.Number.Integer.Long */

html[data-theme="dark"] .highlight pre {
  line-height: 125%;
}
html[data-theme="dark"] .highlight td.linenos .normal {
  color: #3c4354;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
html[data-theme="dark"] .highlight span.linenos {
  color: #3c4354;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
html[data-theme="dark"] .highlight td.linenos .special {
  color: #3c4354;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
html[data-theme="dark"] .highlight span.linenos.special {
  color: #3c4354;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
html[data-theme="dark"] .highlight .hll {
  background-color: #6e7681;
}
html[data-theme="dark"] .highlight {
  background: #1d2331;
  color: #d4d2c8;
}
html[data-theme="dark"] .highlight .c {
  color: #7e8aa1;
} /* Comment */
html[data-theme="dark"] .highlight .err {
  color: #f88f7f;
} /* Error */
html[data-theme="dark"] .highlight .esc {
  color: #d4d2c8;
} /* Escape */
html[data-theme="dark"] .highlight .g {
  color: #d4d2c8;
} /* Generic */
html[data-theme="dark"] .highlight .k {
  color: #ffad66;
} /* Keyword */
html[data-theme="dark"] .highlight .l {
  color: #d5ff80;
} /* Literal */
html[data-theme="dark"] .highlight .n {
  color: #d4d2c8;
} /* Name */
html[data-theme="dark"] .highlight .o {
  color: #ffad66;
} /* Operator */
html[data-theme="dark"] .highlight .x {
  color: #d4d2c8;
} /* Other */
html[data-theme="dark"] .highlight .p {
  color: #d4d2c8;
} /* Punctuation */
html[data-theme="dark"] .highlight .ch {
  color: #f88f7f;
  font-style: italic;
} /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm {
  color: #7e8aa1;
} /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp {
  color: #ffad66;
  font-weight: bold;
} /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf {
  color: #7e8aa1;
} /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 {
  color: #7e8aa1;
} /* Comment.Single */
html[data-theme="dark"] .highlight .cs {
  color: #7e8aa1;
  font-style: italic;
} /* Comment.Special */
html[data-theme="dark"] .highlight .gd {
  color: #f88f7f;
  background-color: #3d1e20;
} /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge {
  color: #d4d2c8;
  font-style: italic;
} /* Generic.Emph */
html[data-theme="dark"] .highlight .ges {
  color: #d4d2c8;
} /* Generic.EmphStrong */
html[data-theme="dark"] .highlight .gr {
  color: #f88f7f;
} /* Generic.Error */
html[data-theme="dark"] .highlight .gh {
  color: #d4d2c8;
} /* Generic.Heading */
html[data-theme="dark"] .highlight .gi {
  color: #6ad4af;
  background-color: #19362c;
} /* Generic.Inserted */
html[data-theme="dark"] .highlight .go {
  color: #7e8aa1;
} /* Generic.Output */
html[data-theme="dark"] .highlight .gp {
  color: #d4d2c8;
} /* Generic.Prompt */
html[data-theme="dark"] .highlight .gs {
  color: #d4d2c8;
  font-weight: bold;
} /* Generic.Strong */
html[data-theme="dark"] .highlight .gu {
  color: #d4d2c8;
} /* Generic.Subheading */
html[data-theme="dark"] .highlight .gt {
  color: #f88f7f;
} /* Generic.Traceback */
html[data-theme="dark"] .highlight .kc {
  color: #ffad66;
} /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd {
  color: #ffad66;
} /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn {
  color: #ffad66;
} /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp {
  color: #ffad66;
} /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr {
  color: #ffad66;
} /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt {
  color: #73d0ff;
} /* Keyword.Type */
html[data-theme="dark"] .highlight .ld {
  color: #d5ff80;
} /* Literal.Date */
html[data-theme="dark"] .highlight .m {
  color: #dfbfff;
} /* Literal.Number */
html[data-theme="dark"] .highlight .s {
  color: #d5ff80;
} /* Literal.String */
html[data-theme="dark"] .highlight .na {
  color: #ffd173;
} /* Name.Attribute */
html[data-theme="dark"] .highlight .nb {
  color: #ffd173;
} /* Name.Builtin */
html[data-theme="dark"] .highlight .nc {
  color: #73d0ff;
} /* Name.Class */
html[data-theme="dark"] .highlight .no {
  color: #ffd173;
} /* Name.Constant */
html[data-theme="dark"] .highlight .nd {
  color: #7e8aa1;
  font-weight: bold;
  font-style: italic;
} /* Name.Decorator */
html[data-theme="dark"] .highlight .ni {
  color: #95e6cb;
} /* Name.Entity */
html[data-theme="dark"] .highlight .ne {
  color: #73d0ff;
} /* Name.Exception */
html[data-theme="dark"] .highlight .nf {
  color: #ffd173;
} /* Name.Function */
html[data-theme="dark"] .highlight .nl {
  color: #d4d2c8;
} /* Name.Label */
html[data-theme="dark"] .highlight .nn {
  color: #d4d2c8;
} /* Name.Namespace */
html[data-theme="dark"] .highlight .nx {
  color: #d4d2c8;
} /* Name.Other */
html[data-theme="dark"] .highlight .py {
  color: #ffd173;
} /* Name.Property */
html[data-theme="dark"] .highlight .nt {
  color: #5ccfe6;
} /* Name.Tag */
html[data-theme="dark"] .highlight .nv {
  color: #d4d2c8;
} /* Name.Variable */
html[data-theme="dark"] .highlight .ow {
  color: #ffad66;
} /* Operator.Word */
html[data-theme="dark"] .highlight .pm {
  color: #d4d2c8;
} /* Punctuation.Marker */
html[data-theme="dark"] .highlight .w {
  color: #d4d2c8;
} /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb {
  color: #dfbfff;
} /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf {
  color: #dfbfff;
} /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh {
  color: #dfbfff;
} /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi {
  color: #dfbfff;
} /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo {
  color: #dfbfff;
} /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa {
  color: #f29e74;
} /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb {
  color: #d5ff80;
} /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc {
  color: #d5ff80;
} /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl {
  color: #d5ff80;
} /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd {
  color: #7e8aa1;
} /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 {
  color: #d5ff80;
} /* Literal.String.Double */
html[data-theme="dark"] .highlight .se {
  color: #95e6cb;
} /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh {
  color: #d5ff80;
} /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si {
  color: #95e6cb;
} /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx {
  color: #95e6cb;
} /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr {
  color: #95e6cb;
} /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 {
  color: #d5ff80;
} /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss {
  color: #dfbfff;
} /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp {
  color: #5ccfe6;
} /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm {
  color: #ffd173;
} /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc {
  color: #d4d2c8;
} /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg {
  color: #d4d2c8;
} /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi {
  color: #d4d2c8;
} /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm {
  color: #d4d2c8;
} /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il {
  color: #dfbfff;
} /* Literal.Number.Integer.Long */
